* {
 box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	line-height: 1.42857143;
	font-family: Myriad Pro,PT Sans,Helvetica,Arial,sans-serif;
}

ul {
	list-style-type: none;
}

.er-page-iframe {
	height: 100%;
	width: 100%;
	border: 0px;
	z-index: 2;
}

.navbar {
	min-height: 36px;
}

.navbar-brand img {
	height: auto;
	max-height: 37px;
}

.navbar-default {
	-webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.175);
	box-shadow: 0 0 16px 0 rgba(0,0,0,.175);
	border: 0;
}
.navbar-default {
	background-color: white;
}

.navbar-fixed-top {
	top: 0;
}

@media (min-width: 992px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		border-radius: 0;
	}
}
.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1;
}

.top-nav {
	padding-top: 7px;
	padding-bottom: 7px;
	content: " ";
	display: table;
	box-sizing: border-box;
}

@media (min-width: 992px) {
	.top-nav {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

.container {
	box-sizing: border-box;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}

	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: -15px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1030px;
	}
}

.pull-right {
	float: right;
}

.navbar-default .navbar-brand {
	color: #999;
}

.mobile-nav-header {
	position: relative;
}

.contact-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 66.66666667%;
	float: left;
}

@media (min-width: 992px) {
	.contact-menu {
		width: auto;
		position: absolute;
		top: -50px;
		right: 110px;
	}
}

.contact-menu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 66.66666667%;
	float: left;
}
@media (min-width: 992px) {
	.contact-menu {
		display: block;
		width: auto;
		position: absolute;
		top: -50px;
		right: 110px;
	}
}

.contact-menu li {
	display: inline-block;
}

.mobile-nav-header a, .mobile-nav-header button {
	padding: 8px 20px;
	font-size: 16px;
	text-decoration: none;
}

.mobile-nav-header a {
	display: block;
}

.mobile-nav-header a .nav-label, .mobile-nav-header button .nav-label {
	display: inline-block;
	margin-left: 2px;
	height: auto;
	line-height: 1.5;
}

.navbar-brand {
	float: left;
	font-weight: 400;
	font-size: 22px;
	padding: 0;
	max-width: 50%;
	height: 36px;
	line-height: 20px;
}

a {
	background-color: transparent;
	color: #134a88;
	text-decoration: none;
}

.mobile-nav-header a i, .mobile-nav-header button i {
	font-size: 18px;
	transform: translate(0, 0);
}

.btn-theme-primary {
	background: #771213;
	background-image: -webkit-linear-gradient(top,#961718 0,#771213 100%);
	background-image: -o-linear-gradient(top,#961718 0,#771213 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#961718),to(#771213));
	background-image: linear-gradient(to bottom,#961718 0,#771213 100%);
	background-repeat: repeat-x;
	border-color: #4b0b0c;
	color: white;
	text-transform: uppercase;
}

.navbar-btn {
	margin-top: 1px;
	margin-bottom: 1px;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	border: 1px solid #4b0b0c;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
}

.btn-theme-primary:hover, .btn-theme-primaryfocus, .btn-theme-primary:active {
	border-color: #350808;
	background: #771213;
	background-image: none;
	color: white;
}
